html, body, #root, #root > div {
    height: 100%;
}
.fullHeight {
    height: calc(100% - 58px);
}
.messagesHeight {
    height: calc(100% - 205px);
}
.c-pointer {
    cursor: pointer;
}
.nresize {
    resize: none;
}
.fit-content {
    height: fit-content;
}

.sidebar {
    width: 15%;
    overflow-y: visible;
}
.normalSideBar {
    width: 253px;
}
.smallSideBar {
    width: 50px;
}
.changeSideBar {
    font-size: 20px;
}
.sidebarImg {
    width: 30px;
    height: 30px;
}

.video-displayer {
    width: 70%;
}
.video-displayer div{
    width: 100% !important;
    height: auto !important;
}
.video-chat {
    width: 30%;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .sidebar {
        width:50px;
    }
    .changeSideBar {
        display: none;
    }
    .popularChannels {
        display: none;
    }
    .descriptionSidebar {
        display: none;
    }   
    
    .video-displayer {
        width: 65%;
    }
    .video-chat {
        width: 35%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    html, body, #root, #root > div {
        height: auto;
    }
    .content-video {
        flex-wrap: wrap;
    }
    .video-displayer {
        width: 100%;
    }
    .video-chat {
        width: 100%;
        margin: 1em;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .sidebar {
        display: none;
    }
    .video-displayer {
        width: 100%;
    }
    .video-chat {
        width: 100%;
    }
}