html, body, #root, #root > div {
    height: 100%;
}
.fullHeight {
    height: calc(100% - 58px);
}
.messagesHeight {
    height: calc(100% - 202px);
}
.c-pointer {
    cursor: pointer;
}
.nresize {
    resize: none;
}
.fit-content {
    height: fit-content;
}

.video-menu {
    width: 15%;
    background-color: red;
    overflow-y: visible;
}
.video-displayer {
    width: 60%;
}
.video-displayer div{
    width: 100% !important;
    height: auto !important;
}
.video-chat {
    width: 25%;
}