html, body, #root, #root > div {
    height: 100%;
}
.fullHeight {
    height: calc(100% - 58px);
}
.messagesHeight {
    height: calc(100% - 225px);
    min-height: 175px;
}
.c-pointer {
    cursor: pointer;
}
.nresize {
    resize: none;
}
.fit-content {
    height: fit-content;
}

.sidebar {
    width: 15%;
    overflow-y: visible;
}
.normalSideBar {
    width: 253px;
}
.smallSideBar {
    width: 50px;
}
.changeSideBar {
    font-size: 20px;
}
.sidebarImg {
    width: 30px;
    height: 30px;
}

.video-displayer {
    width: 70%;
}
.video-displayer div{
    width: 100% !important;
    height: auto !important;
}
.video-chat {
    width: 30%;
}
.chatImage {
    width: 20%;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .sidebar {
        width:50px;
    }
    .changeSideBar {
        display: none;
    }
    .popularChannels {
        display: none;
    }
    .descriptionSidebar {
        display: none;
    }   
    
    .video-displayer {
        width: 65%;
    }
    .video-chat {
        width: 35%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    html, body, #root, #root > div {
        height: auto;
    }
    .content-video {
        flex-wrap: wrap;
    }
    .video-displayer {
        width: 100%;
    }
    .video-chat {
        width: 100%;
        margin: 1em;
    }
}
.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #007FF6 transparent #007FF6 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .sidebar {
        display: none;
    }
    .video-displayer {
        width: 100%;
    }
    .video-chat {
        width: 100%;
    }
}